<div class="row">
	<div class="col-lg-3">
		<div class="well stats">
	<h5><b>User Stats</b></h5>
	      <div class="stats">
        <%= render 'partials/stats' %>
      </div>


      <h5 class=""><b>Trends</b></h5>
      <%= render 'partials/hashtags' %>
    </div>
	</div>
	<div class="col-lg-6">
		<h1>Tweets</h1>
			<%# @tweets.each do |tweet| %>
			<div id="feed" class="feed">
				<% @feed_items.each do |tweet| %>
				  <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet} %>
				<% end %>
			</div>
			<!-- <br> -->
	</div>
	<div class="col-lg-3">
		<div class="well">
			<%= render 'partials/suggestions' %>
		</div>
		<div class="well">
			<ul>
				Chat
				<% @users.each do |user| %>
			  	<li><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
      	<% end %>
			</ul>
		</div>
	</div>
</div>